.header {
    position: fixed;
    z-index: 1;
    display: block;
    width: 100%;
    height: 114px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
}

.menu-icon {
    width: 160px;
    height: 100%;
    float: right;
    background-image: url('../images/MENU COLAPSO.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.logo-header {
    width: 160px;
    height: 100%;
    background-image: url('../images/Vector Smart Object.png');
    background-position: 50% 50%;
    background-size: 90px;
    background-repeat: no-repeat;
}

.section-top {
    padding-top: 75px;
    padding-bottom: 0px;
    background-image: url('../images/bg-section-top.png');
    background-position: 100% -90px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-section-top {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 170px;
    padding-left: 170px;
    color: #fff;
    line-height: 33px;
    text-align: center;
}

.subtitle-top-section {
    margin-top: 0px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.know-more-section-top {
    margin-bottom: 12px;
    color: #fff;
    font-size: 8px;
    text-align: center;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.image-center-section-top {
    width: 320px;
    margin-top: 20px;
    float: left;
}

.center-content-section-top {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 150px;
}

.text-content-center-top {
    display: inline-block;
    margin-top: 170px;
    margin-left: 10px;
    float: left;
    color: #fff;
    font-size: 56px;
    line-height: 48px;
}

.sub-text-content-center {
    color: #ff0;
}

.down-arrow-know-more {
    width: 62px;
    height: 62px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('../images/scroll.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.down-arrow-know-more:hover {
    background-position: 0px -62px;
}

.separete-section-top {
    width: 230px;
    height: 12px;
    margin: 10px auto;
    background-image: url('../images/separete-section-top.png');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}

.holder-social-media {
    width: 90%;
    height: 49px;
    margin-right: auto;
    margin-bottom: 14px;
    margin-left: auto;
}

.label-social-media {
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 14px;
    float: left;
    color: #fff;
    font-weight: 700;
}

.label-social-media.label-social-media-share {
    margin: 14px 4px;
    float: right;
}

.like-btn {
    width: 100px;
    height: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 10px;
    float: left;
}

.social-media-share {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
}

.social-media-share.social-media-share-facebook {
    width: 50px;
    height: 100%;
    margin-right: 4px;
    margin-left: 4px;
    background-image: url('../images/social-btn-capa.png');
    background-repeat: no-repeat;
}

.social-media-share.social-media-share-facebook:hover {
    background-position: 0px 100%;
    background-size: 104px;
}

.social-media-share.social-media-share-twitter {
    width: 50px;
    height: 100%;
    background-image: url('../images/social-btn-capa.png');
    background-position: 100% 0px;
    background-repeat: no-repeat;
}

.social-media-share.social-media-share-twitter:hover {
    background-position: 100% 100%;
    background-size: 106px;
}

.tbns-app-download-holder {
    width: 300px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.tbns-app-download-holder.btns-download-holder-noworries {
    height: 350px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}

.tbns-app-download-holder.btns-download-holder-noworries.btns-download-holder-footer {
    height: 170px;
    margin-top: -150px;
    float: right;
}

.label-app-downloads {
    height: 20px;
    color: #000;
    font-size: 11px;
    font-weight: 900;
    margin-bottom: 5px;
    padding-left: 16px;
}

.btn-app-download {
    width: 210px;
    height: 64px;
    float: none;
    background-image: url('../images/btn-gp-bk.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn-app-download:hover {
    background-position: 0px -65px;
}

.btn-app-download.btn-app-download-appstore {
    float: right;
    background-image: url('../images/icon.png');
}

.btn-app-download.btn-app-download-appstore.transparent-btn-appstore {
    height: 22px;
    margin-right: 10px;
    margin-left: 0px;
    background-image: url('../images/icon-appstore-transparent.png');
    background-size: contain;
}

.btn-app-download.btn-app-download-appstore.btn-download-appstore-noworries {
    background-image: url('../images/btn-appStore-yellow.png');
    background-size: contain;
}

.btn-app-download.btn-app-download-appstore.btn-app-download-menu-appstore {
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    float: none;
}

.btn-app-download.transparent-btn-google-play {
    background-image: url('../images/btn_gp_pb.png');
    float: right;
    display: block;
    top: -10px;
    position: relative;
}

.btn-app-download.btn-download-google-noworries {
    background-image: url('../images/btn-gp-yellow.png');
    margin-right: auto;
    margin-left: auto;
    top: 90px;
    position: relative;
}

.btn-app-download.btn-app-download-menu {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    float: none;
}

.section-ticket-top {
    height: 105px;
    background-image: url('../images/bg-car-tickets.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.ticket-holder {
    height: 184px;
    background-image: url('../images/bg-ticket.png');
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-section-tickets {
    width: 413px;
    float: left;
    background-image: url('../images/detail-title-ticket.png');
    background-position: 100% 103%;
    background-size: 160px;
    background-repeat: no-repeat;
    color: #000;
    font-size: 30px;
    font-weight: 900;
    line-height: 27px;
}

.tickets-contaent-holder {
    position: relative;
    bottom: -76px;
    padding-right: 20px;
    padding-left: 0px;
}

.downloads-holder-tickets {
    position: relative;
    top: -135px;
    width: 500px;
    float: right;
}

.title-download-tickets-section {
    position: relative;
    top: -12px;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-image: url('../images/bg-label-ticket.png');
    background-position: 50% 50%;
    background-size: 287px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    line-height: 30px;
    float: left;
}

.title-download-tickets-section.text-execute-the-download {
    display: inline-block;
    width: 100%;
    padding: 14px;
    background-image: url('../images/bg-download-section-noworries.png');
    background-size: contain;
}

.title-download-tickets-section.text-execute-the-download.title-download-app-footer {
    top: 0px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-image: none;
    font-size: 12px;
}

.title-download-tickets-section.text-execute-the-download.text-download-section-no-worries {
    top: -20px;
    color: #ff0;
}

.sectin-five-reasons {
    padding-top: 60px;
    padding-bottom: 60px;
}

.title-section-five-reasons {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url('../images/bg-topo-five-reasons.png');
    background-position: 48% 15%;
    background-size: 190px;
    background-repeat: no-repeat;
    color: #000;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img-reason {
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('../images/first-reason.png');
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
}

.img-reason.img-reason-two {
    background-image: url('../images/second-reason.png');
    background-size: 130px;
}

.img-reason.img-reason-three {
    background-image: url('../images/third-reason.png');
    background-size: 130px;
}

.img-reason.img-reason-five {
    background-image: url('../images/fifth-reason.png');
    background-size: 130px;
}

.img-reason.img-reason-four {
    background-image: url('../images/fourth-reason.png');
    background-size: 130px;
}

.text-reason {
    color: #000;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
}

.five-steps-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.holder-five-reasons {
    text-align: center;
}

.row-two-reasons-holder {
    width: 660px;
    margin-right: auto;
    margin-left: auto;
}

.title-section-how-it-work {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 16px;
    background-image: url('../images/title-howItWork-border.png');
    background-position: 50% 102%;
    background-size: 240px;
    background-repeat: no-repeat;
    color: #000;
    font-size: 35px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-how-it-work {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ff0;
}

.how-it-hork-content-holder {
    width: 750px;
    height: 170px;
    margin-right: auto;
    margin-left: auto;
}

.how-it-work-item {
    width: 24%;
    height: 100%;
    float: left;
}

.how-it-work-item.how-it-work-item-separator {
    width: 14%;
}

.content-how-it-work-holder {
    margin-top: 80px;
}

.how-it-work-item-img {
    height: 50%;
    background-image: url('../images/icon-one-howItWork.png');
    background-position: 50% 50%;
    background-size: 70px;
    background-repeat: no-repeat;
}

.how-it-work-item-img.how-it-work-item-separator-img {
    background-image: url('../images/icon-division-howItWork.png');
    background-size: 100px;
}

.how-it-work-item-img.how-it-work-item-img-two {
    height: 76%;
    margin-top: -52px;
    margin-bottom: 10px;
    background-image: url('../images/icon-two-howItWork.png');
    background-size: 126px;
}

.how-it-work-item-img.how-it-work-img-three {
    background-image: url('../images/icon-three-howItWork.png');
    background-position: 57% 0%;
    background-size: 64px;
}

.how-it-work-item-title {
    color: #000;
    font-weight: 700;
    text-align: center;
    font-style: italic;
}

.how-it-work-item-description {
    margin-top: 8px;
    color: #000;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.section-where-to-go {
    padding-top: 58px;
    padding-bottom: 58px;
    background-image: url('../images/bg-where-to-go.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.ttle-where-to-go {
    margin-top: 0px;
    margin-bottom: 150px;
    color: #fff;
    text-align: center;
    /* padding-right: 220px; */
    /* padding-left: 190px; */
}

.text-where-to-go {
    color: #fff;
    text-align: center;
}

.section-no-worries-with-change {
    background-image: url('../images/bg-section-no-worries.png');
    background-position: 50% 44%;
    background-size: auto;
    background-repeat: no-repeat;
    height: 420px;
}

.content-no-worries-holder {
    height: 312px;
    padding-left: 50px;
}

.no-worries-image-center {
    position: relative;
    top: -8px;
    height: 428px;
    margin-right: auto;
    margin-left: auto;
    float: left;
}

.title-section-no-worries {
    display: inline-block;
    margin-top: 166px;
    float: left;
    color: #000;
    font-size: 28px;
    line-height: 30px;
    font-style: italic;
    text-align: right;
    text-transform: uppercase;
}

.bg-title-no-worries-section {
    background-color: #ff0;
    font-weight: 900;
    letter-spacing: 1px;
}

.title-parking-lot-owner {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-parking-lot-owner {
    padding-top: 40px;
    padding-bottom: 200px;
    background-image: url('../images/bg-parking-lot-owner.png');
    background-position: 100% 0px;
    background-size: 260px;
    background-repeat: no-repeat;
}

.title-section-parking-lot-owner {
    color: #ff0;
    font-style: italic;
    text-transform: uppercase;
}

.title-parking-lot-bg {
    background-color: #000;
    letter-spacing: 1px;
}

.subtitle-parking-lot-owner {
    padding-bottom: 30px;
    padding-left: 130px;
    border-bottom: 1px solid rgba(0, 0, 0, .16);
    background-image: url('../images/detail-lead-PL-owner.png');
    background-position: 2px 13%;
    background-size: 116px;
    background-repeat: no-repeat;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
}

.content-holder-pl-owner {
    width: 845px;
    float: right;
}

.item-parking-lot-owner {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .16);
}

.item-parking-lot-owner.last-item-pl-owner {
    border-bottom: 0px none transparent;
}

.item-pl-owner-title {
    display: inline-block;
    float: left;
    color: #097fc4;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
}

.item-pl-owner-description {
    display: inline-block;
    float: left;
    color: #333;
    font-size: 19px;
    font-weight: 300;
}

.div-road-footer {
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: url('../images/bg-road-footer.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-section-footer {
    float: left;
    color: #fff;
    font-size: 40px;
    line-height: 37px;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}

.title-section-footer-different-bg {
    background-image: url('../images/yellow-bg-rodape.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    color: #000;
}

.big-logo-lince-footer {
    display: block;
    /* width: 65px; */
    margin-right: auto;
    margin-left: auto;
}

.content-holder-road-div-footer {
    padding-right: 70px;
    padding-left: 70px;
}

.content-holder-footer {
    padding-right: 70px;
    padding-left: 70px;
}

.logo-lince-footer {
    float: left;
}

.div-holder-tel-footer {
    margin-right: 80px;
    margin-left: 80px;
    float: left;
    text-align: center;
}

.title-tel-footer {
    display: inline-block;
    color: #000;
    font-weight: 700;
}

.tel-number-footer {
    margin-top: 14px;
    margin-bottom: 10px;
    color: #000;
    font-size: 22px;
    font-weight: 300;
}

.contact-footer {
    color: #000;
    font-size: 12px;
    text-decoration: underline;
}

.div-blue-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #7ed0ff;
}

.terms-conditions-footer {
    float: left;
}

.terms-conditions-title {
    margin-bottom: 10px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.item-terms-conditions {
    padding-left: 30px;
    background-image: url('../images/arrows-footer.png');
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    font-size: 12px;
    cursor: pointer;
}

.item-terms-conditions.item-terms-conditions-two-lines {
    margin-bottom: 4px;
    padding-top: 10px;
    line-height: 15px;
}

.go-up-btn-footer {
    width: 55px;
    height: 66px;
    margin-top: -70px;
    float: right;
    background-image: url('../images/btn-subir.png');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.go-up-btn-footer:hover {
    background-position: -55px 0px;
}

.lince-copyright {
    width: 100%;
    margin-top: 50px;
    float: right;
}

.text-copyright {
    display: inline-block;
    color: #000;
    font-size: 12px;
}

.text-facebook {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
    color: #000;
}

.img-facebook-footer {
    width: 30px;
    height: 30px;
    margin-top: -4px;
    margin-right: 10px;
    float: right;
    background-image: url('../images/social-btn-ft.png');
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.img-facebook-footer:hover {
    background-position: 100% 100%;
    background-size: 30px;
    background-repeat: no-repeat;
}

.bg-ticket {
    position: relative;
    top: -114px;
    z-index: 0;
    height: 114px;
    background-color: #ff0;
}

.body {
    font-family: Lato, sans-serif;
}

.title-top-section-thin {
    font-weight: 100;
}

.img-hand {
    display: block;
    margin-left: 120px;
}

.menu {

    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2;
    overflow: scroll;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    float: right;
    background-color: #fff;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
}

.menu-item {
    display: inline-block;
    margin-bottom: 10px;
    color: #000;
    font-weight: 800;
}

.menu-sub-item {
    color: #000;
    font-weight: 300;
    text-decoration: none;
}

.menu-sub-item:hover {
    background-color: #7ed0ff;
}

.menu-list {
    width: 120px;
    margin: 70px auto 50px;
}

.close-menu {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-right: 30px;
    float: right;
    background-image: url('../images/close-menu.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.holder-social-media-menu {
    width: 170px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    border-top: 1px solid #000;
}

.title-social-media-menu {
    margin-bottom: 6px;
    color: #000;
    font-weight: 900;
    text-align: center;
}

.icon-social-media-menu {
    width: 26px;
    height: 25px;
    float: left;
    background-image: url('../images/sprite-socialmedia-menu.png');
    background-position: -38% 50%;
    background-size: 48px;
    background-repeat: no-repeat;
}

.icon-social-media-menu.icon-social-media-twitter {
    border-left: 1px solid #000;
    background-position: -22px 42%;
}

.social-media-menu-icons-holder {
    width: 25px;
    margin-right: auto;
    margin-left: auto;
}

.title-download-menu {
    display: block;
    width: 35px;
    margin: 30px auto 6px;
    padding-bottom: 4px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.item-menu-link {
    color: #000;
    text-decoration: none;
}

.item-menu-link:hover {
    background-color: #7ed0ff;
}

.item-sub-menu-link {
    color: #000;
    font-weight: 300;
    text-decoration: none;
}

.light-box {
    position: fixed;
    z-index: 3;
    display: none;
    width: 100%;
    height: 100%;
}

.light-box.light-box-private-politics {
    display: none;
}

.light-box.light-box-terms-and-conditions-adicionais {
    display: none;
}

.light-box.light-box-use-conditions {
    display: none;
}

.bg-light-box {
    position: relative;
    height: 100%;
    background-color: rgba(125, 207, 255, .92);
}

.content-light-box {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 45%;
    height: 60%;
    margin: auto;
    border-top: 7px solid #ff0;
    background-color: #fff;
}

.header-light-box {
    width: 100%;
    height: 17%;
}

.close-llight-box {
    width: 15%;
    height: 100%;
    float: right;
    border-bottom: 7px solid #000;
    background-image: url('../images/bg-close-light-box.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.title-holder-light-box {
    width: 85%;
    height: 100%;
    padding: 4% 5%;
    border-right: 1px solid rgba(0, 0, 0, .28);
    border-bottom: 1px solid rgba(0, 0, 0, .28);
}

.title-light-box {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 19px;
    font-weight: 900;
    text-transform: uppercase;
}

.content-light-box-holder {
    height: 83%;
    padding: 6%;
}

.holder-text-light-box {
    overflow: scroll;
    height: 100%;
}

.btn-app-download.btn-download-google-noworries.btn-download-google-footer{

    top: 40px;
}

@media (max-width: 991px) {
    .header {
        height: 90px;
    }

    .menu-icon {
        width: 90px;
        height: 100%;
        background-size: 36px;
    }

    .section-top {
        background-size: cover;
    }

    .title-section-top {
        padding-right: 100px;
        padding-left: 100px;
    }

    .center-content-section-top {
        margin-left: 30px;
    }

    .ticket-holder {
        background-position: 60% 0px;
        height: 240px;
    }

    .tickets-contaent-holder {
        padding-right: 0px;
        padding-left: 0px;
    }

    .text-section-tickets{

        top: 35px;
        display: block;
        position: relative;
    }

    .downloads-holder-tickets {
        position: relative;
        top: 18px;
        width: 290px;
        float: right;
    }

    .btn-app-download.transparent-btn-google-play{

        float: none;
        display: block;
        top: 70px;
        position: relative;
        width: 210px;
        margin: auto;

    }

    .title-download-tickets-section.text-execute-the-download.title-download-app-footer {
        top: 0px;
    }

    .ttle-where-to-go {
        padding-left: 50px;
    }

    .content-no-worries-holder {
        padding-left: 90px;
        padding-right: 90px;
    }

    .section-parking-lot-owner {
        background-size: 200px;
    }

    .content-holder-pl-owner {
        width: 670px;
    }

    .div-holder-tel-footer {
        margin-right: 40px;
        margin-left: 40px;
    }

    .content-light-box {
        width: 70%;
    }

    .text-content-center-top{

        margin-top: 80px;

    }

    .img-hand{

        display: none;
    }
    .tbns-app-download-holder.btns-download-holder-noworries{
        height: 180px;
        margin-top: 0px;
        margin-left: 170px;
        float: left;
    }

    .no-worries-image-center{
        height: 300px;
    }

    .section-no-worries-with-change{

        background-size: cover;
        height: 540px;
    }

    .title-section-no-worries{

        margin-top: 100px;
    }

    .content-holder-road-div-footer {
        padding-right: 0px;
        padding-left: 0px;
    }

    .tbns-app-download-holder.btns-download-holder-noworries.btns-download-holder-footer {
        height: 170px;
        margin-top: -306px;
        float: right;
    }

}

@media (max-width: 767px) {
    .title-section-top {
        padding-right: 100px;
        padding-left: 100px;
        font-size: 24px;
    }

    .subtitle-top-section {
        font-size: 18px;
    }

    .image-center-section-top {
        width: 270px;
    }

    .center-content-section-top {
        width: 450px;
        margin-left: 150px;
    }

    .text-content-center-top {
        font-size: 26px;
        margin-top: 100px;
        line-height: 30px;
    }

    .tbns-app-download-holder {
        width: 150px;
    }

    .tbns-app-download-holder.btns-download-holder-noworries {
        margin-top: -4px;
        width: 270px;
        margin-left: 130px;
    }

    .title-download-tickets-section.text-execute-the-download.text-download-section-no-worries{

        background-size: 230px;
        font-size: 24px;
        line-height: 28px;
    }

    .tbns-app-download-holder.btns-download-holder-noworries.btns-download-holder-footer {
        margin-top: -100px;
    }

    .btn-app-download {
        margin-right: auto;
        margin-left: auto;
        float: none;
    }

    .btn-app-download.btn-app-download-appstore {
        float: none;
    }

    .btn-app-download.btn-app-download-appstore.transparent-btn-appstore {
        margin-right: 50px;
        margin-left: 50px;
    }

    .btn-app-download.transparent-btn-google-play {
        margin-right: auto;
        margin-left: auto;
    }

    .ticket-holder {
        background-position: -74px 0px;
    }

    .text-section-tickets {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tickets-contaent-holder {
        bottom: -65px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .downloads-holder-tickets {
        top: 16px;
        width: 190px;
    }

    .title-download-tickets-section{

        top: 8px;
        font-size: 20px;
        line-height: 24px;
        background-size: 192px;
    }

    .title-download-tickets-section.text-execute-the-download {
        background-size: 134px;
        font-size: 12px;
        line-height: 17px;
    }

    .title-download-tickets-section.text-execute-the-download.title-download-app-footer {
        top: 0px;
    }

    .row-two-reasons-holder {
        width: 440px;
    }

    .how-it-hork-content-holder {
        width: 540px;
    }

    .how-it-work-item-img.how-it-work-item-separator-img {
        background-size: contain;
    }

    .ttle-where-to-go {
        margin-bottom: 60px;
        font-size: 26px;
        line-height: 34px;
    }

    .content-no-worries-holder {
        height: 242px;
        padding-left: 130px;
        padding-right: 130px;
    }

    .no-worries-image-center {
        height: 250px;
    }

    .title-section-no-worries {
        margin-top: 76px;
        line-height: 24px;
    }

    .bg-title-no-worries-section {
        font-size: 23px;
    }

    .section-parking-lot-owner {
        background-size: 130px;
    }

    .title-section-parking-lot-owner {
        padding-right: 10px;
        padding-left: 10px;
    }

    .subtitle-parking-lot-owner {
        padding-left: 140px;
        background-position: 13px 10%;
    }

    .content-holder-pl-owner {
        width: 540px;
    }

    .content-holder-road-div-footer {
        padding-right: 20px;
    }

    .content-holder-footer {
        padding-right: 30px;
        padding-left: 30px;
    }

    .div-holder-tel-footer {
        margin-right: 20px;
        margin-left: 20px;
    }

    .tel-number-footer {
        font-size: 20px;
    }

    .go-up-btn-footer {
        margin-top: -70px;
    }

    .text-copyright {
        font-size: 11px;
    }

    .text-facebook {
        font-size: 12px;
    }

    .img-facebook-footer {
        margin-right: 0px;
    }

    .img-hand {
        display: none;
    }

    .content-light-box {
        width: 90%;
    }

    .title-download-tickets-section{

        font-size: 20px;
        line-height: 24px;

    }

    .tbns-app-download-holder.btns-download-holder-noworries.btns-download-holder-footer {
        margin-top: -300px;
        margin-left: 20px;
    }
}

@media (max-width: 479px) {
    .header {
        height: 80px;
    }

    .menu-icon {
        width: 80px;
        background-size: 30px;
    }

    .title-section-top {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 20px;
    }

    .image-center-section-top {
        margin-right: auto;
        margin-left: auto;
    }

    .center-content-section-top {
        width: 230px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;
    }

    .text-content-center-top {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-left: 0px;
        text-align: center;
    }

    .holder-social-media {
        width: 98%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .label-social-media {
        font-size: 11px;
    }

    .label-social-media.label-social-media-share {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 11px;
    }

    .like-btn {
        width: 88px;
    }

    .social-media-share.social-media-share-facebook {
        width: 50px;
    }

    .tbns-app-download-holder {
        margin-right: 14px;
        margin-left: 14px;
    }

    .tbns-app-download-holder.btns-download-holder-noworries {
        width: 260px;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }

    .tbns-app-download-holder.btns-download-holder-noworries.btns-download-holder-footer {
        width: 110px;
        margin-top: -170px;
    }

    .btn-app-download.btn-app-download-appstore.transparent-btn-appstore {
        margin-top: 20px;
    }

    .btn-app-download.btn-download-google-noworries {
        /* width: 90px; */
        /* height: 30px; */
        /* background-position: 0% -10%; */
        /* background-size: 90px; */
    }

    .ticket-holder {
        top: 0px;
        height: 340px;
        background-color: #ff0;
        background-image: none;
        background-size: auto;
        background-repeat: repeat;
    }

    .text-section-tickets {
        width: 280px;
        margin-top: 0px;
        background-position: 99% 97%;
        background-size: 120px;
        background-repeat: no-repeat;
        font-size: 20px;
    }

    .tickets-contaent-holder {
        bottom: -25px;
    }

    .downloads-holder-tickets {
        margin-right: 56px;
        margin-left: 56px;
    }

    .title-download-tickets-section.text-execute-the-download.title-download-app-footer {
        top: 0px;
    }

    .title-download-tickets-section.text-execute-the-download.text-download-section-no-worries {
        margin-bottom: 0px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-size: 220px;
        font-size: 18px;
    }

    .row-two-reasons-holder {
        width: 320px;
    }

    .section-how-it-work {
        padding-bottom: 70px;
    }

    .how-it-hork-content-holder {
        width: 310px;
    }

    .how-it-work-item-img {
        background-position: 50% 50%;
        background-size: 40px;
    }

    .how-it-work-item-img.how-it-work-item-separator-img {
        background-position: 48% 50%;
        background-size: 30px;
    }

    .how-it-work-item-img.how-it-work-item-img-two {
        background-position: 0% 67%;
        background-size: contain;
    }

    .how-it-work-item-img.how-it-work-img-three {
        background-position: 61% 43%;
        background-size: 35px;
    }

    .how-it-work-item-description {
        font-size: 11px;
    }

    .section-where-to-go {
        padding-top: 58px;
        padding-bottom: 48px;
        background-position: 50% 50%;
    }

    .ttle-where-to-go {
        margin-bottom: 70px;
        padding-left: 30px;
        font-size: 17px;
        line-height: 25px;
    }

    .section-no-worries-with-change {
        background-size: cover;
        height: 620px;
    }

    .content-no-worries-holder {
        height: 600px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .no-worries-image-center {
        display: block;
        float: none;
    }

    .title-section-no-worries {
        display: block;
        width: 174px;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }

    .bg-title-no-worries-section {
        display: inline;
    }

    .title-section-parking-lot-owner {
        line-height: 35px;
    }

    .title-parking-lot-bg {
        font-size: 31px;
        line-height: 20px;
    }

    .subtitle-parking-lot-owner {
        padding-right: 10px;
    }

    .content-holder-pl-owner {
        width: 300px;
    }

    .title-section-footer {
        font-size: 17px;
        line-height: 22px;
    }

    .big-logo-lince-footer {
        width: 45px;
    }

    .content-holder-road-div-footer {
        padding-right: 0px;
        padding-left: 10px;
    }

    .logo-lince-footer {
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }

    

    .div-holder-tel-footer {
        float: none;
    }

    .terms-conditions-footer {
        padding-left: 60px;
        float: none;
    }

    .go-up-btn-footer {
        margin-top: -330px;
    }

    .lince-copyright {
        text-align: center;
    }

    .text-facebook {
        float: none;
    }

    .img-facebook-footer {
        margin-right: 20px;
        margin-left: -20px;
        float: right;
    }

    .close-llight-box {
        width: 20%;
    }

    .title-holder-light-box {
        width: 80%;
    }
    .title-download-tickets-section{
        width: 110%;
    }

    .btn-app-download.btn-download-google-noworries.btn-download-google-footer{

        top: 40px;
        width: 90px;
        height: 30px;
        background-position: 0% -10%;
        background-size: 90px;
    }
}